node_modules
dist
.env
.env.shared
*.log
*.sqlite
*.db
.prisma
coverage
*.local
docker-data/
documentacao/

# Docker
auth/Dockerfile.dev
projects/Dockerfile.dev
*.log
docker-compose.override.yml
docker-compose.example

# IDEs
.vscode/
.idea/
*.swp