node_modules
dist
.env
*.log
*.sqlite
*.db
.prisma
coverage
*.local
docker-data/
documentacao/
.github/workflows/example_script.flow

# Docker
auth/Dockerfile.dev
projects/Dockerfile.dev
*.log
docker-compose.override.yml
docker-compose.example
.env.shared

# IDEs
.vscode/
.idea/
*.swp